<% @top_stories.each do |id| %>
  <% story = details(id: id) %>
  <h3><%= story.dig("title") %></h3>
  <h4>By <%= story.dig("by") %></h4>
  <h4>URL <%= story.dig("url") %></h4>
  <%= "----------------------------" %>
<% end %>
