<h1>Articles TOP Feed</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= article.score %> | <%= article.title %> | <%= link_to "link", article.url, target: "_blank", rel: "alternate" %>
    </li>
  <% end %>
</ul>
