<h1>Topnewsers</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user.full_name, "/users/#{user.id}/bookmarks" %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>


