<h1>Shared Hacker News Stories</h1>

<div style="overflow-y: auto; width: 100%; max-height: 100vh;">
  <%  @shared_bookmark_list.each do |story| %>
    <%= render partial: 'story', locals: { story: story } %>
  <% end %>
</div>
