<% content_for :page_title do %>
  <title>Recommended News</title>
<% end %>

<% content_for :menu do %>
  <%= render 'shared/menu' %>
<% end %>

<div class='<%= recommended_feed_container_class %>'>
  <%= render @feed %>
</div>
