<% content_for :page_title do %>
  <title>Top News</title>
<% end %>

<% content_for :menu do %>
  <%= render 'shared/menu' %>
<% end %>

<div class='<%= feed_container_class %>'>
  <%= render @feed  %>
</div>
