<td class="td"><%= link_to story.title, story.url %></td>
<td class="td"><%= story.author %></td>
<td class="td"><%= raw story.pretty_time %></td>
<td class="td"><%= story.users.count %> have starred this story</td>