# <h1>Welcome to Top News</h1>
# <div>
#     <h1>Log In</h1>
#     <%= form_tag '/users/sign_in' do%>
#         Email: <%= email_field_tag :email %><br>
#         Password: <%= password_field_tag :password %><br>
#         <%= submit_tag "Log In" %>
#     <% end %>
# </div>
