<h1>Welcome to Top News</h1>

<ul>
  <li>
    <%= link_to "TOP Articles", articles_path, method: :get %>
  </li>
  <li>
    <%= link_to "Team Articles", user_articles_path, method: :get %>
  </li>
</ul>
