<h1>Welcome to Top News</h1>
<%= render partial: 'pages/nav_bar' %>
<table >
    <thead>    
        <th  class="td">Title</th>
        <th class="td">Author</th>
        <th>Published</th>
        <th> </th>
        <th> </th>
    </thead>
    <tbody>
        <% @stories.each do |story| %>
            <tr>
                <% if params['filter'] == 'starred' %>
                    <%= render partial: 'starred_stories', locals: {story: story} %>
                <% else %>
                    <%= render partial: 'all_stories', locals: {story: story} %>
                <% end %>
                <%= render partial: 'star_story', locals: {story: story} %>
            </tr>
        <% end %>
    </tbody>
</table>
