<h1>Welcome to Top News</h1>

<% if @logged_in%>
    <%= button_to "Logout", destroy_user_session_path, method: :delete  %>
<% else %>
    <%= button_to "Login", new_user_session_path  %>
<%end%>
<% @stories_data.each.with_index do |story_data, index| %>
    <%= render "story", story: story_data[:story], favorite: story_data[:favorite], index: index %>
<% end%>