<ul class="space-y-4 text-left text-gray-500 dark:text-gray-400">

<% @pages.each do |page| %>
  <li class="flex items-center space-x-3 rtl:space-x-reverse">
      <%= link_to page['title'], page_path(page['id']) %>
      <span class="font-semibold text-gray-900">
        ⭐️
        <%= turbo_frame_tag "#{dom_id(page)}_votes_count" do %>
          <%= page.votes %><br>
        <% end %>
      </span>
  </li>
<% end %>
</ul>

<%= turbo_stream_from "votes" %>
