<%= render "header" %>
<h1>All Liked Stories</h1>
<ol>
<% story_data.each do |story_details| %>
    <%= render(
      "story_row",
      story: story_details,
      likers: liker_data[story_details[:id]]
    )%>
<% end %>
</ol>
