<h1>Flagged Hacker News Stories</h1>
<% @flagged_stories.each do |story| %>
  <div class="card">
    <h2 class="card-title"><%= link_to story.title, story.url, target: '_blank', class: 'card-link' %></h2>
    <p class="card-content">(Stars: <%= story.star_count %>)</p>
    <span>Flagged by: <%= story.flagging_users.pluck(:first_name, :last_name).map { |names| names.compact.join(' ') }.join(', ') %></span>
    </div>
<% end %>
