<h1 class="p-4">Welcome to Top News</h1>

<%= render partial: 'stories/story_list',
            locals: { stories: @stories } %>

<div class="text-right">
  <%= paginate @stories, window: 2 %>
  <%= page_entries_info @stories, entry_name: 'story' %>
</div>

