<p style="color: green"><%= notice %></p>

<h1>New Stories</h1>

<div id="stories">
  <% @stories.each do |story| %>
    <h1><%= story['title'] %></h1>
    <p>
      <%= link_to "Visit Link", story['url'] %>
    </p>
    <%= link_to "Star Story", "stories/#{story['id']}" %>
  <% end %>
</div>

