<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <h4 class="text-center">Total number of upvotes on the news item </h4>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
