.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.login-block {
  margin: 20px;
  justify-content: flex-start;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.stories-block {
  display: grid;
  width: 70%;
}

.stories-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: -15px;
}

.button-text {
  font-size: large;
  font-weight: 600;
}

.story-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
  margin: 20px;
  background-color: aquamarine;
  border: 2px;
  border-style: dashed;
}

.story-title {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0px;
}

.star-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}