.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.login-block {
  margin: 20px;
  justify-content: flex-start;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.stories-block {
  display: grid;
  width: 70%;
}

.story-card {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 20px;
  background-color: aquamarine;
  border: 2px;
  border-style: dashed;
}