.story {
    padding: 8px;
    display: flex;
    flex-direction: row;
}

.left_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.rank {
    margin-bottom: 4px;
}

.details {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}
