.story {
    padding: 8px;
    display: flex;
    flex-direction: row;
}

.rank {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}